html { 
    background: url(/dist/assets/snow.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    /* font-size:100%; */
    font:inherit;
    font-family: manaspace;
    vertical-align:baseline
} 

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 50px;
    font-family: 'Press Start 2P', cursive;
    /* font-family: manaspace; */
    min-width: 100px;
}
.row-container {
    display: flex;
    justify-content: center;

}

.key{
    border:  0.5px dotted rgb(177, 177, 177);
    border-style: outset;
    /* padding: 10px 15px; */
    width: 50px;
    height: 50px;
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    font-size: 13px;
    box-shadow: 0px 0px 5px 0px rgba(141, 141, 141, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.inner-key {
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(255, 255, 255, 0.767);
    width: 38px;
    height: 42px;
    border-radius:3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.5px;
    right: 1.5px;

}

.chord-container {
    display:flex;
    justify-content: center;
    min-width: 100px;
}

.keyboard-container {
    /* border: 10px solid rgb(141, 141, 141); */
    box-shadow: 0 0 0 4px rgba(124, 123, 123, 0.767);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 15px;
    border-radius: 10px;
    background-color: rgb(210, 230, 252);
    min-width: 135px;
}

.row2 > .key{
    margin-left: 4px;
    margin-right: 4px;
}

.row3 > .key{
    margin-left: 3px;
    margin-right: 3px;
}

.row4 > .key{
    margin-left: 2px;
    margin-right: 2px;
}

.chord-container {
    margin-top: 200px;
    min-width: 100px;
}

ul {
    display: flex;
    justify-content: center;
    min-width: 100px;
}

li {
    list-style: none;
    font-family: 'Press Start 2P', cursive;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.767);
}

.oct {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    padding: 5px 10px;
}

.oct-text {
    padding: 7px 10px;
   font-size: 15px; 
}

.recommended {
    /* border: 2px solid rgb(255, 236, 64); */
    background-color: rgb(241, 231, 90);
}

.active {
    background-color: rgb(138, 224, 142)
}

i {
    margin: 5px;
}

#info {
    font-size: 20px;
    width: 100px;
    height: 100px;
    position: relative;
}

/* 
#info::before,
#info::after {
    --scale: 0;
    --tooltip-color: #333;
    position: absolute;
    content: attr(data-tooltip);
    top: -.25rem;
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.39);
    left: 50%;
    transform: translateX(-55%) translateY(25%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: top center;
}

#info::before {
    content: attr(data-tooltip);
    padding: .5rem;
    color: white;
    background: #333;
    width: max-content;
    max-width: 100%;
    border-radius: .3rem;
    text-align: center;
}

#info:hover::before {
    --scale: 1;
}

#info:hover::before,
#info:hover::after {
    --scale: 1;
}

#info::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: black;
    border: 10px solid transparent;
    border-top-color: black;
} */
